@{
    ViewData["Title"] = "Heikin-Ashi指標";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--自製麵包屑書籤-->
<div class="breadcrumbBox">
    <div class="breadcrumbText"><a href="/Home/Index">首頁</a>&nbsp&nbsp>&nbsp&nbsp<a href="">財務指標工具</a>&nbsp&nbsp>&nbsp&nbsp<span>Heikin-Ashi指標</span></div>
</div>
<!--自製麵包屑書籤 結束-->

<div class="container">
    <div class="Heikin-AshiCandlestickContainerBox containerBox shadow">
        <div class="Heikin-AshiCandlestickTitle">Heikin-Ashi指標</div>

        <!-- 指標介紹 -->
        <div class="IndicatorIntroBox">
            <div class="IndicatorIntroTitle">指標介紹</div>
            <div class="IndicatorIntroContent">
                <strong>Heikin-Ashi</strong> 是一種燭台圖風格，通過平均化價格數據來過濾交易噪音，幫助更容易識別價格動量和反轉點，但其反應較慢，需要設置止損位以防止損失。
            </div>
        </div>

        <!-- 參數設定 -->
        <div class="ParameterSettingBox">
            <div class="ParameterSettingTitle">參數設定</div>
            <div class="ParameterSettingContent">
                <form asp-action="ProcessHeikin_AshiInputs" method="post" onsubmit="return validateDates()">
                    <div class="ParameterSettingEveryBox">
                        <div>股票代號</div>
                        <input type="text" required name="ticker" placeholder="Enter stock ticker (e.g. NVDA)">
                    </div>
                    <div class="ParameterSettingEveryBox">
                        <div>起始日期</div>
                        <input type="date" required name="stdate" placeholder="Enter start date (e.g. 2022-01-01)">
                    </div>
                    <div class="ParameterSettingEveryBox">
                        <div>終止日期</div>
                        <input type="date" required name="eddate" placeholder="Enter end date (e.g. 2022-12-31)">
                    </div>
                    <div class="SubmitParameterSettingFormBox">
                        <button type="submit" class="SubmitParameterSettingForm" onclick="console.log('-------Form submitted---------');">產出分析圖</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                開始日期和結束日期之間的持續時間必須大於 3 年。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Heikin_Ashi.js"></script>

