@{
    ViewData["Title"] = "首頁";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="homepageBackground">
    <div class="container">
        <div class="vh-100 d-flex justify-content-center align-items-center">
            <div class="blockBackground px-3 pt-4 pb-4 text-center mh-85" style="overflow: hidden;">
                <div>
                    <h1 class="mx-4 px-5 home-brand">技術指標系統</h1>
                    <h6 class="px-3 pb-2 home-brand borderBottomLine">Technical Indicators System</h6>
                </div>
                <div class="justify-content-center">
                    <div>
                        <h3 class="px-3 py-1 home-brand">財務指標工具</h3>
                        <a href="/Home/MACD" class="home-link"><h5 style="font-weight: bolder;">MACD Oscillator</h5></a>
                        <a href="/Home/Pair" class="home-link"><h5 style="font-weight: bolder;">Paired Trading</h5></a>
                        <a href="/Home/Heikin_Ashi" class="home-link"><h5 style="font-weight: bolder;">Heikin-Ashi Candlestick</h5></a>
                        <a href="/Home/Quantitative_Momentum" class="home-link"><h3 style="font-weight: bolder;">動能交易策略</h3></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>