@{
    ViewData["Title"] = "首頁";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="HomepageBackground">
    <div class="container">
        <div class="vh-100 d-flex justify-content-center align-items-center">
            <div class="BlockBackground px-3 pt-4 pb-4 text-center mh-85" style="overflow: hidden;">
                <div>
                    <h1 class="mx-4 px-5 home-brand">技術指標系統</h1>
                    <h6 class="px-3 pb-2 home-brand BorderBottomLine">Technical Indicators System</h6>
                </div>
                <div class="justify-content-center">
                    <div>
                        <h3 class="px-3 py-1 home-brand HomepageWord">財務指標工具</h3>
                        <a class="home-link" href="/Home/MACD">
                            <!-- 修改成原始呼叫的html -->
                            <h6 class="px-3 py-1 HomepageWord">MACD Oscillator</h6>
                        </a>
                        <a class="home-link" href="/Home/Pair">
                            <!-- 修改成原始呼叫的html -->
                            <h6 class="px-3 py-1 HomepageWord">Paired Trading</h6>
                        </a>
                        <a class="home-link" href="/Home/Heikin_Ashi">
                            <!-- 修改成原始呼叫的html -->
                            <h6 class="px-3 py-1 HomepageWord">Heikin-Ashi Candlestick</h6>
                        </a>
                        <a class="home-link" href="/Home/Quantitative_Momentum">
                            <!-- 修改成原始呼叫的html -->
                            <h3 class="px-3 py-1 HomepageWord">動量交易策略</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>