@{
    ViewData["Title"] = "配對交易指標";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--自製麵包屑書籤-->
<div class="breadcrumbBox">
    <div class="breadcrumbText"><a href="/Home/Index">首頁</a>&nbsp&nbsp>&nbsp&nbsp<a href="">財務指標工具</a>&nbsp&nbsp>&nbsp&nbsp<span>配對交易指標</span></div>
</div>
<!--自製麵包屑書籤 結束-->

<div class="container">
    <div class="indicatorOrStrategyContainerBox containerBox shadow">
        <div class="headline">配對交易指標</div>

        <!-- 指標介紹 -->
        <div class="indicatorIntroBox">
            <div class="indicatorIntroTitle">指標介紹</div>
            <div class="indicatorIntroContent">
                <strong>配對交易</strong> 是一種基於協整關係的統計套利策略，當兩隻協整股票的標準化殘差超過閾值時，通過做多便宜股票和做空昂貴股票來獲利。
            </div>
        </div>

        <!-- 參數設定 -->
        <div class="parameterSettingBox">
            <div class="parameterSettingTitle">參數設定</div>
            <div class="parameterSettingContent">
                <form asp-action="ProcessPairInputs" method="post">
                    <div class="parameterSettingEveryBox">
                        <div>起始日期</div>
                        <input type="date" required name="stdate" placeholder="Enter start date (e.g. 2022-01-01)">
                    </div>
                    <div class="parameterSettingEveryBox">
                        <div>終止日期</div>
                        <input type="date" required name="eddate" placeholder="Enter end date (e.g. 2022-12-31)">
                    </div>
                    <div class="parameterSettingEveryBox">
                        <div>股票代號1</div>
                        <input type="text" required name="ticker1" placeholder="Enter stock ticker (e.g. NVDA)">
                    </div>
                    <div class="parameterSettingEveryBox">
                        <div>股票代號2</div>
                        <input type="text" required name="ticker2" placeholder="Enter stock ticker (e.g. AMD)">
                    </div>
                    <div class="submitParameterSettingFormBox">
                        <button type="submit" class="submitParameterSettingForm" onclick="console.log('-------Form submitted---------');">產出分析圖</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>