@{
    ViewData["Title"] = "動能交易策略";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--自製麵包屑書籤-->
<div class="breadcrumbBox">
    <div class="breadcrumbText"><a href="/Home/Index">首頁</a>&nbsp&nbsp>&nbsp&nbsp<span>動能交易策略</span></div>
</div>
 <!--自製麵包屑書籤 結束-->

<div class="container">
    <div class="containerBox shadow">
        <div class="QuantitativeMomentumContnet">
            <form asp-action="ProcessQuantitativeMomentumInputs" method="post">
                <div class="QuantitativeMomentumTitle">動能交易策略</div>
                <div class="QuantitativeMomentumEveryBox">
                    <div>刪除低動量股票數量</div>
                    <input type="text" name="Remove_Low_Momentum_Stocks_Number" placeholder="Enter Remove Low Momentum Stocks Number (e.g. 40)" required>
                </div>
                <div class="QuantitativeMomentumEveryBox">
                    <div>投資組合數量</div>
                    <input type="text" name="portfolio" placeholder="Enter portfolio (e.g. 1000000)" required>
                </div>
                <div class="SubmitQuantitativeMomentumFormBox">
                    <button type="submit" class="SubmitQuantitativeMomentumForm" onclick="console.log('-------Form submitted---------');">送出</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                必須小於50
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/QuantitativeMomentum.js"></script>