@{
    ViewData["Title"] = "Quantitative_Momentum";
}

<div class="text-center">
    <h6 class="display-6">Quantitative Momentum Input</h6>
    <pre>@ViewBag.PythonOutput</pre>
</div>
<form asp-action="ProcessQuantitativeMomentumInputs" method="post">
    <div class="mb-3">
        <label for="Remove_Low_Momentum_Stocks_Number" class="form-label">Remove Low Momentum Stocks Number</label>
        <input type="text" class="form-control" id="Remove_Low_Momentum_Stocks_Number" name="Remove_Low_Momentum_Stocks_Number" placeholder="Enter Remove Low Momentum Stocks Number (e.g., 40)">
    </div>
    <div class="mb-3">
        <label for="portfolio" class="form-label">Enter the value of your portfolio</label>
        <input type="text" class="form-control" id="portfolio" name="portfolio" placeholder="Enter portfolio (e.g., 1000000)">
    </div>
    <button type="submit" class="btn btn-primary" onclick="console.log('-------Form submitted---------');">Submit</button>
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                必須小於50
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function validateDates() {
        const Remove_Low_Momentum_Stocks_Number = new Date(document.getElementById('Remove_Low_Momentum_Stocks_Number').value);

        if (Remove_Low_Momentum_Stocks_Number > 50) {
            // Show the modal
            var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
                keyboard: false
            });
            myModal.show();
            return false;
        }

        return true;
    }
</script>